<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Research</div>
            <p class="paragraph-text justify-text">
                1. Seungho Song*, Donggyu Lee* and Jinwoo Kim “Assessing Hallucination in Large Language Models for Cyber Threat Intelligence: A Measurement Study”, Computers & Security (Wokring on)
            </p>
            <p class="paragraph-text justify-text">
                2. Donggyu Lee* and Byeongjun Park “A Study on Probabilistic Acupoint Localization through 3D Generation and Cun Scaling”, IET Biometrics (Wokring on)
            </p>
            <p class="paragraph-text justify-text">
                3. Donggyu Lee*, Gunwoo Kim** and Byeongjun Park “AttentiveAcupoint-Net: A simplified attention mechanism and squeeze-and-excitation based network for ear acupoints detection”, IIBC 2024 Academic Conference
            </p>
            <div class="blogs-wrapper" id="rss-feeds"></div>
        </div>
    </section>
</div>