<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="research" class="semi-transparent-button with-border white-button" onclick="selected('research')">Research</a>
                    <a id="game" class="semi-transparent-button with-border white-button" onclick="selected('game')">Game</a>
                    <a id="ai" class="semi-transparent-button with-border white-button" onclick="selected('ai')">AI</a>
                    <a id="web" class="semi-transparent-button with-border white-button" onclick="selected('web')">Web</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>